services:
  swiss-datashare:
    image: registry.swissmakers.ch/infra/swiss-datashare:latest # Prebuilt image from Swissmakers GmbH
    # Alternative: swissmakers/swiss-datashare or build from source using: docker build -t swiss-datashare .
    restart: unless-stopped
    ports:
      - 3000:3000
    environment:
      - TRUST_PROXY=false # Set to true if a reverse proxy is in front of the container
    volumes:
      - "./data:/opt/app/backend/data:Z"
      - "./data/images:/opt/app/frontend/public/img:Z"
  #      - "./config.yaml:/opt/app/config.yaml" # Add this line, if you want to configure swiss-datashare via config file and not via UI

  # To add ClamAV, to scan your shares for malicious files, 
  # see https://github.com/swissmakers/swiss-datashare
